@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Definição de Variáveis de Cor */
:root {
    --background-color: #E5E5E5;
    --text-color: #000;
    --primary-color: #0A3871;
    --secondary-color: #fff;
    --hover-color: #06182f;
    --shadow-color: rgba(28, 28, 28, 0.50);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    font-family: 'Roboto', sans-serif;

    overflow-x: hidden;
    overflow-y: hidden;
}


.main__container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
}

.main_container_content {
    display: flex;
    justify-content: center;
    
    width: 100%;

    margin-top: 30px;
    margin-bottom: 30px;
}

.logo__alura {
    width: 120px;
    height: 48px;
    
    margin-top: 20px;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;


}

.main__container__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    height: 600px;
    margin-top: 120px;
   
}

.main__container__text textarea {
    background-color: var(--background-color);
    height: 100%;
    padding: 16px;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
    resize: none;
    border: none;
}

.main__container__text textarea:focus {
    outline: none;
}

.main__container__text textarea::placeholder {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 400;
}

.main__alerta__span {
    display: flex;
    align-items: center;
    margin: 10px;
}

.main__alerta__span img {
    margin-right: 5px;
}

.main__container__buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.dark-button, .light-button {
    width: 100%;
    max-width: 280px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.dark-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

.light-button {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    color: var(--secundary-color);
    border: 1px solid var(--primary-color);
}

/* conteúdo lateral */

.main__container__message {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 32px;
    width: 80%;
    max-width: 400px;
    height: 700px;
    border-radius: 32px;
    box-shadow: 0px 2px 30px var(--shadow-color);
}

.main__container__message img {
    width: 100%;
}

.main__container__message h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 32px;
}


.texto_message {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    margin-top: 16px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
}

.message_area p {
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0 auto;
}

.btn_copiar {
    visibility: hidden;
    margin: 10px auto 0 auto;
    
}

.btn_copiar:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s, color 0.3s ease-in-out;
}

.btn_copiar:active {
    transform: scale(0.9);
}



/* rodape */

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 2vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 -2px 10px var(--shadow-color);
}

.rodape__autor {
    margin-bottom: 20px;

}


.rodape__redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 4px;
}

.rodape__redes-sociais a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 14px;
    text-decoration: none;
    color: var(--secondary-color);
}

.rodape__redes-sociais img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.3s;
}

.rodape__redes-sociais img:hover {
    transform: scale(1.1);
}

.rodape__atribuicao {
    
    display: flex;
    gap: 30px;
    padding: 10px;
    margin-bottom: 50px;

}

.rodape__atribuicao a {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}